<br>
<div>
    <div class="container-fluid">
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="exampleFormControlInput1" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cardNumber">
                <small class="text-muted">Full name as displayed on card</small>
            </div>
            <div class="col-md-4">
                <label for="exampleFormControlInput1" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cardName">
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label for="exampleFormControlInput1" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cardNumber">
            </div>
            <div class="col-md-2">
                <label for="exampleFormControlInput1" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cardNumber">
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-lg btn-block">Rent</button>
    </div>
</div>