<h2 *ngIf="!ifAdmin">If you want to access here, you must be an administrator!</h2>
<br> <br> <br>
<div *ngIf="waitForData" class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Enter brand information</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="brandAddForm">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="brandName">Brand Name</label>
                                    <div class="form-group">
                                        <input type="text" id="brandName" formControlName="brandName"
                                            class="form-control" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div class="card-footer">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" (click)="add()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>