<!-- <h2 *ngIf="!waitForCustomer">You don't have customer informations. Please go to "Change Customer Informations" page where under your name .</h2> -->
<br>
<h2 *ngIf="!waitForData">You haven't rented a car yet</h2>
<br><br>
<table *ngIf="waitForData" class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.firstName}} {{rental.lastName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.description}}</td>
            <td>{{rental.rentDate | date}}</td>
            <td>{{rental.returnDate | date}}</td>
            <td><button (click)="returnCar(rental)" [class]="setButtonClass(rental)">Return Car</button></td>
        </tr>
    </tbody>
</table>