<h2 *ngIf="!waitForData">You're not rent a car yet</h2>

<table *ngIf="waitForData" class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.firstName}} {{rental.lastName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.description}}</td>
            <td>{{rental.rentDate | date}}</td>
            <td>{{rental.returnDate | date}}</td>
            <td><button (click)="returnCar(rental)" [class]="setButtonClass(rental)">Return Car</button></td>
        </tr>
    </tbody>
</table>