<br>
<div class="row">
    <div class="row">
        <div class="col-md-3"></div>
        <!-- <label for="filterText" class="form-label">Search Brand</label> -->
        <div class="col-md-8">
            <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search">
        </div>
        <div class="col-md-2"></div>
    </div>
    <div *ngIf="filterText" class="alert alert-success">
        You searched this: {{filterText}}
    </div>
    <br> <br>

    <div class="col-md-2">
        <app-brand></app-brand>
        <app-color></app-color>
    </div>

    <div class="col-md-10">
        <table class="table table-striped table-dark table-bordered">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Model Year</th>
                    <th>Daily Price</th>
                    <th>Findex</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars |brandFilter:filterText" (click)="setCurrentCar(car)"
                    routerLink="/cardetails/{{car.carId}}">
                    <td>{{car.brandName }}</td>
                    <td>{{car.colorName}}</td>
                    <td>{{car.modelYear}}</td>
                    <td>{{car.dailyPrice |currency}}</td>
                    <td>{{car.findex}}</td>
                    <td>{{car.carDescription}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>