<br> <br>
<div class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Car Images</h5>
                </div>
                <div class="card-body">
                    <form *ngIf="waitForData" [formGroup]="carImageForm">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="formFile" class="form-label">Car image</label>
                                    <input (change)="onFileSelect($event)" formControlName="file" class="form-control"
                                        type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-footer">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" (click)="add()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br> <br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div *ngFor="let carImage of carImages" class="col">
                <div class="card">
                    <img [src]="setImageSource(carImage.imagePath)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <p class="card-text text-end"><button *ngIf="isDefault" (click)="delete(carImage)" class="btn btn-danger">Delete</button></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>