<h2 *ngIf="!ifAdmin">If you want to access here, you must be an administrator!</h2>
<br><br>
<div *ngIf="waitForData" class="content">
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">User Informations</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="updateUserForm">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="id">Id</label>
                                    <div class="form-group">
                                        <input [attr.disabled]="true" type="number" id="id" formControlName="id"
                                            class="form-control" placeholder="Id">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="firstName">First Name</label>
                                    <div class="form-group">
                                        <input [attr.disabled]="true" type="text" id="firstName"
                                            formControlName="firstName" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <div class="form-group">
                                        <input [attr.disabled]="true" type="text" id="lastName"
                                            formControlName="lastName" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="email">E-mail</label>
                                    <div class="form-group">
                                        <input [attr.disabled]="true" type="email" id="email" formControlName="email"
                                            class="form-control" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="status">Status</label>
                                    <div class="form-group">
                                        <input [attr.disabled]="true" type="text" id="status" formControlName="status"
                                            class="form-control" placeholder="Status">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label for="findex">Findex</label>
                                    <div class="form-group">
                                        <input type="number" id="findex" formControlName="findex" class="form-control"
                                            placeholder="Findex">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-footer">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////////////////////////////-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">User Informations</h5>
                </div>
                <div class="card-body">
                    <table class="table table-stroked ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Id</th>
                                <th>Claim Id</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let claim of currentUserClaims">
                                <td>{{claim.id}}</td>
                                <td>{{claim.userId}}</td>
                                <td>{{claim.operationClaimId}}</td>
                                <td><button class="btn btn-danger" (click)="delete(claim)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Button trigger modal -->
                    <button type="button" (click)="claimsFormCreate()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Claim
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Claim</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="claimsForm">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <label for="claims">Claims</label>
                                <div class="form-group">
                                    <select class="form-select" formControlName="claim">
                                        <option disabled selected value=0>Select Claim</option>
                                        <option *ngFor="let claim of operationClaims" 
                                        [ngValue]="claim.id">{{claim.name}}</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="addClaim()" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>