<h2 *ngIf="!ifAdmin">If you want to access here, you must be an administrator!</h2>
<br>
<div *ngIf="waitForData" class="d-grid gap-2">
    <button class="btn btn-outline-success" routerLink="/admin/add/car">Add</button>
</div>
<br>
<div *ngIf="waitForData" class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" *ngFor="let car of carDetails">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{{car.brandName}}</h3>
                <h4 class="card-title">{{car.colorName}}</h4>
                <h6 class="card-title">{{car.modelYear}}</h6>
                <h6 class="card-title">{{car.dailyPrice | currency}}</h6>
                <p class="card-text">{{car.carDescription}}</p>
                <div class="btn-group">
                    <td class="text-center"><button class="btn btn-outline-primary" (click)="goUpdate(car.carId)">Update</button></td> &nbsp;
                    <td class="text-center"><button class="btn btn-outline-danger" (click)="delete(car)">Delete</button></td>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- <table class="table table-striped table-secondary table-bordered">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Color</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of carDetails">
            <td>{{car.brandName }}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice |currency}}</td>
            <td>{{car.carDescription}}</td>
            <td class="text-center"><button class="btn btn-outline-primary" >Update</button></td>
            <td class="text-center"><button class="btn btn-outline-danger" (click)="delete(car)">Delete</button></td>
        </tr>
    </tbody>
</table> -->